<div class="page-header">
  <h3>Image #<%= @image.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @image.caption %></dd>

      <dt>Image file</dt>
      <dd><img src="<%= @image.image_file %>" class="img-responsive"></dd>

      <dt>Posting user</dt>
      <dd>
        <% if @image.posting_user.present? %>
          <a href="/users/<%= @image.posting_user_id %>">
            <%= @image.posting_user.username %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/images" class="btn btn-primary">
        Back
      </a>
      <a href="/images/<%= @image.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_image/<%= @image.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Image has many likes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Likes
      </li>

      <% @image.likes.each do |like| %>
        <li class="list-group-item">
          <a href="/likes/<%= like.id %>">
            <%= like.photo_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/likes/<%= like.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/likes/<%= like.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_like/<%= like.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_like" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for photo_id -->
      <div class="form-group">
        <label for="photo_id" class="control-label">
          Photo
        </label>

        <%= select_tag(:photo_id, options_from_collection_for_select(Image.all, :id, :caption), :class => "form-control") %>
      </div>

      <!-- Label and input for like -->
      <div class="checkbox">
        <label for="like">
          <input type="checkbox" id="like" name="like" value="1" <%= "checked" if @like.like %>>
          Like
        </label>
      </div>

      <!-- Label and input for liking_user_id -->
      <input type="hidden" name="liking_user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Like
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Image has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @image.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.comment_text %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for photo_id -->
      <div class="form-group">
        <label for="photo_id" class="control-label">
          Photo
        </label>

        <%= select_tag(:photo_id, options_from_collection_for_select(Image.all, :id, :caption), :class => "form-control") %>
      </div>

      <!-- Label and input for comment_text -->
      <div class="form-group">
        <label for="comment_text" class="control-label">
          Comment text
        </label>

        <textarea id="comment_text" name="comment_text" placeholder="Comment text" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for commenting_user_id -->
      <input type="hidden" name="commenting_user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Image has many commenting_users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Commenting Users
      </li>

      <% @image.commenting_users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Image has many liking_users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Liking Users
      </li>

      <% @image.liking_users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Image has many followers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Followers
      </li>

      <% @image.followers.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Image has many fans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fans
      </li>

      <% @image.fans.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
